@model Bookly.Models.Usuarios

@{
    ViewBag.Title = "Registro";
}

<h2>Registrarse</h2>

<form asp-action="Register" method="post">
    <label for="DNI">DNI:</label>
    <input asp-for="DNI" id="DNI" required /><br/>

    <label for="nombreComp">Nombre completo:</label>
    <input asp-for="nombreComp" id="nombreComp" required /><br/>

    <label for="ano">Año:</label>
    <input asp-for="ano" list="anos" id="ano" required /><br/>
    <datalist id="anos">
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
    </datalist>

    <label for="especialidad">Especialidad:</label>
        <input asp-for="especialidad" id="especialidad" list="especialidades" required /><br>
    <datalist id="especialidades">
        <option value="">-- Seleccioná una especialidad --</option>
        <option value="Informatica"></option>
        <option value="Gestion"></option>
        <option value="Produccion Artistica"></option>
        <option value="Quimica"></option>
        <option value="Mecatronica"></option>
        <option value="Construcciones"></option>
    </datalist>

    <label for="curso">Curso:</label>
    <input asp-for="curso" id="curso" maxlength="1" required /><br/>

    <label for="password">Contraseña:</label>
    <input asp-for="password" type="password" id="password" required /><br/>

    <button type="submit">Registrarse</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<p>
    ¿Ya tienes cuenta? <a href="@Url.Action("Login", "Usuarios")">Inicia sesión aquí</a>
</p>
