@model List<Bookly.Models.PublicacionesCompletas>
@using Bookly.Helpers
@{
    ViewData["Title"] = "Resultados de búsqueda";
}


<h2 class="busqueda-titulo primerElemento">@(ViewBag.isQueryNull ? "Catálogo" : "Resultados de búsqueda")</h2>

<section class="publicaciones">
    <section class="cardsPublicadas" id="resultados"></section>
</section>