@{
    ViewData["Title"] = "Home";
}

<section class="recommendationsContainer">
    <h2>Últimas publicaciones</h2>
    <section class="librosContainer">
        <div>
            <h1></h1>
            <h2></h2>
            <img src="" alt="">
            <span></span>
            <span></span>
            <div class="librosBtnContainer">
                <button class="mainBtn"></button>
                <button class="secondaryBtn"></button>
            </div>
        </div>
    </section>
</section>
