@{
    ViewData["Title"] = "Home";
}
<a href="@Url.Action("Login", "Usuarios")">Ir a Login</a>
<br>
<a href="@Url.Action("Register", "Usuarios")">Ir a Registro</a>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <section class="recommendationsContainer">
            <h2>Últimas publicaciones</h2>
            <section class="librosContainer">
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>


            </section>
        </section>
    </div>
    <div class="carousel-item">
        <section class="recommendationsContainer">
            <h2>Últimas publicaciones</h2>
            <section class="librosContainer">
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>


            </section>
        </section>
    </div>
    <div class="carousel-item">
        <section class="recommendationsContainer">
            <h2>Últimas publicaciones</h2>
            <section class="librosContainer">
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>
                                <div class="libro">
                    <h1>Toldot Israel 3</h1>
                    <h2>Historia judía 3er año</h2>
                    <img src="images/toldot.jpg" alt="toldot">
                    <span>$18500</span>
                    <span>Sin uso</span>
                    <div class="librosBtnContainer">
                        <button class="secondaryBtn">Desear</button>
                        <button class="mainBtn">Contactar</button>
                    </div>
                </div>


            </section>
        </section>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



