@{
  ViewData["Title"] = "Home";
}

<h2 class="tituloPublicaciones">Últimas publicaciones</h2>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
        <section class="recommendationsContainer">
            <section class="librosContainer">
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <!-- <h1>@ViewBag.NomLibro</h1> -->
                    <h2>$18500</h2>
                    <!-- <h2>$@ViewBag.Precio</h2> -->
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <!-- <span class="pill">@ViewBag.Estado</span> -->
                        <span class="pill">Historia judía</span>
                        <!-- <span class="pill">@ViewBag.Materia</span> -->
                        <span class="pill">3er año</span>
                        <!-- <span class="pill">@ViewBag.AnoLibro</span> -->
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <div class="carousel-item">
        <section class="recommendationsContainer">
            <h2>Últimas publicaciones</h2>
            <section class="librosContainer">
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <div class="carousel-item">
        <section class="recommendationsContainer">
            <h2>Últimas publicaciones</h2>
            <section class="librosContainer">
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
                <div class="libro">
                    <div class="libroImgContainer">
                        <img src="img/toldot.jpg" alt="toldot">
                        <button class="desearBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>
                        </button>
                    </div>
                    <h1>Toldot Israel 3</h1>
                    <h2>$18500</h2>
                    <div class="pillContainer">
                        <span class="pill">Sin uso</span>
                        <span class="pill">Historia judía</span>
                        <span class="pill">3er año</span>
                    </div>
                </div>
            </section>
        </section>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



