<h1>@ViewBag.UsuarioNombre</h1>
 <a href="@Url.Action("Logout", "Usuarios")">Logout</a>

<section class="personalInfo">
    <div class="userContainer">
        <img src="" alt="pfp">
        <h1></h1>
    </div>
    <div class="specificInfo">
        <p></p>
        <p></p>
        <p></p>
        <div class="rating">
            @*svg's*@
        </div>
    </div>
    <section calss="reviewsContainer">
    </section>
</section>

