@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*, *::after, *::before{
  box-sizing: border-box;
}

html{
  --main: #4059AD;
  --secondary: #6B9AC4;
  --secondary2: #97D8C4;
  --light: #EFF2F1;
  --accent: #F4B942;
  --dark: #061A40;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body{
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

header button{  
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
  font-size: 1rem !important;
  color: var(--light);
  background-color: transparent;
  border: 2px solid var(--light);
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

header button:hover {
  background-color: var(--secondary2);
  color: var(--dark);
  border-color: var(--secondary2);
  filter: drop-shadow(0px 0px 10px var(--dark));
}

header{
  background-color: var(--secondary);
  display: flex;
  gap: 5%;
  padding: 1%;
  align-items: center;
  height: 105px;
  padding: 8px 24px;
}

header img, header .logo {
  height: 40px;
  max-height: 40px;
}

header h1, header h2, header p {
  font-size: 1.2rem;
  margin: 0;
}

.logoSvg{
  width: 100px;
  height: 100px;
}

header .searchNFilter{
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  position: relative;
  width: 40%;
  gap: 10px;
}

.searchNFilter .search{
  align-items: center;
  position: relative;
  align-content: center;
  width: 100%;
  grid-row: 2;
}

.search input[type = text]{
  width: 100%;
  height: 35px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1rem !important;
}

input{
  outline: none;
}

.searchNFilter .filter {
  position: absolute;
  grid-row: 3;
  height: 15px;
  padding: 0;
  margin: 0;
  min-height: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.search svg{
  position: absolute;
  right: 10px;
  align-self: center;
  color: var(--dark);
}

.navSections{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  margin-left: auto;
  color: var(--light);
}

.navSections .profileBtn{
  display: flex;
  gap: 10px;
  align-items: center;
}

.navSections p{
  margin: 0;
}

.header svg{
  user-select: none;
}

header, .navbar, .navSections {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.tituloPublicaciones{
  margin: 10px;
}

.tituloPublicaciones{
  margin-bottom: 10px;
}

.librosContainer{
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
}

.libro{
  background-color: var(--main);
  border: none;
  border-radius: 8px;
  padding: 12px;
  color: var(--light);
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.libroImgContainer{
  position: relative;
}

.libro .libroImgContainer img{
  border-radius: 2px;
  width: 100%;
}

.libro .libroImgContainer button{
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: 0;
  border-radius: 50%;
  background-color: var(--light);
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 0px 4px var(--dark));
}

.libro .libroImgContainer button svg{
  width: 100%;
  height: 100%;
  color: var(--dark);
}

.libro h1{
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}

.libro h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.pillContainer{
  display: flex;
  gap: 5px;
}

.pill{
  margin: 0;
  padding: 5px;
  text-align: center;
  background-color: var(--secondary2);
  border-radius: 4px;
  font-size: 0.8rem;
  color: var(--dark);
}

.loginPage{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 135px);
  margin: 0;
  min-width: 100%;
}

/* FORM SECTION ANTERIOR 
.formSection{
  background-color: var(--main);
  border-radius: 8px;
  padding: 4%;
  width: 40%;
  margin-top: 2%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: var(--light);
}

.formSection h1{
  font-size: 2rem;
  margin: 0;
}

.formSection form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.formSection form .campo{
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.formSection form .campo input{
  height: 40px;
  border-radius: 8px;
  border: 0;
  padding: 5px;
  outline: none;
}

.formSection a{
  color: var(--secondary2);
}

.formSection a:hover{
  text-decoration: none;
} */

.formSection{
  background-color: var(--main);
  border-radius: 8px;
  padding: 4%;
  width: 40%;
  margin-top: 2%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: var(--light);
}

.formSection h2{
  font-size: 2rem;
  margin: 0;
}

.formSection form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.formSection .campo{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.campo input,
.campo select,
.campo textarea {
  height: 40px;
  border-radius: 8px;
  border: 0;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  background: var(--light);
  color: var(--dark);
  transition: all 0.3s ease;
}

.campo textarea {
  resize: vertical;
  min-height: 100px;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  /* outline: 2px solid var(--accent); */
  box-shadow: 0 0 10px var(--secondary2);
}

.formSection a{
  color: var(--secondary2) !important;
}

.formSection a:hover{
  text-decoration: none;
}

button[type="submit"] {
  background-color: var(--secondary2);
  color: var(--dark);
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  padding: 12px 20px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  /* background-color: var(--accent);
  color: var(--light);
  filter: drop-shadow(0px 0px 10px var(--dark)); */
  background-color: var(--secondary2);
  filter: brightness(1.03);
  box-shadow: 0 0 10px var(--secondary2);
}

button[type="submit"]:active {
  /* background-color: var(--light);
  color: var(--dark);
  box-shadow: 0 0 8px var(--dark); */
  background-color: var(--secondary2);
  transform: scale(1.05);
}

 .mainBtn{
  background-color: var(--secondary2);
  border: 0;
  border-radius: 8px;
  color: var(--dark);
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease;
}

.mainBtn:hover {
  /* background-color: var(--secondary); */
  /* color: var(--light); */
  /* filter: drop-shadow(0px 0px 10px var(--dark)); */
}

.registerPage {
  display: flex;
  /* min-height: 100vh; */
  background: var(--light);
}

.registerLeft {
  width: 50%;
  background: var(--secondary2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
  height: calc(100vh - 105px); /* 105 siendo px de navbar */
}

.registerLogo {
  margin-bottom: 40px;
}

.registerTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.registerSubtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
}

.registerRight {
  width: 50%;
  background: #404fa6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 105px); /* 105 siendo px de navbar */
}

a, a:visited {
  color: var(--light);
}

.registerForm {
  width: 100%;
  max-width: 400px;
  background: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 40px 20px;
}

.navbar-registro {
  background: var(--light);
} 

.campo label {
  color: var(--light);
  margin-bottom: 6px;
  font-size: 1rem;
}

.campo input, .campo select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 0;
  font-size: 1rem;
  margin-bottom: 2px;
}
.campo input {
  background: var(--light);
  color: var(--main);
}

.registerLogin {
  color: var(--light);
  text-align: center;
  margin-top: 16px;
}

.registerLogin a {
  color: var(--secondary2);
  text-decoration: underline;
  font-weight: bold;
}

.icon-tabler-message{
  color: var(--light);
  cursor: pointer;
  margin-left: 1;
}

.error{
  color: red;
  font-size: 1rem;
}