USE [master];
GO

-- 🔄 Eliminar la base si ya existe
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'Bookly')
BEGIN
    ALTER DATABASE [Bookly] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [Bookly];
END
GO

-- 🆕 Crear base de datos
CREATE DATABASE [Bookly];
GO

-- Usar la base
USE [Bookly];
GO

-- 📦 Crear tablas

IF OBJECT_ID('dbo.Usuarios', 'U') IS NULL
BEGIN
    CREATE TABLE [dbo].[Usuarios] (
        [DNI] VARCHAR(50) NOT NULL,
        [nombreComp] VARCHAR(50) NOT NULL,
        [ano] INT NOT NULL,
        [especialidad] VARCHAR(50) NULL,
        [curso] CHAR(1) NOT NULL,
        [password] VARCHAR(100) NOT NULL,
        [aboutMe] VARCHAR(500) NULL,    
        CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED ([DNI] ASC)
    );
END
GO

IF OBJECT_ID('dbo.Libros', 'U') IS NULL
BEGIN
    CREATE TABLE [dbo].[Libros] (
        [id] INT IDENTITY(1,1) NOT NULL,
        [nombre] VARCHAR(50) NOT NULL,
        [materia] VARCHAR(50) NOT NULL,            
        [ano] INT NOT NULL,
        [editorial] VARCHAR(50) NOT NULL,
        CONSTRAINT [PK_Libros] PRIMARY KEY CLUSTERED ([id] ASC)
    );
END
GO

IF OBJECT_ID('dbo.Publicacion', 'U') IS NULL
BEGIN
    CREATE TABLE [dbo].[Publicacion] (
        [id] INT IDENTITY(1,1) NOT NULL,
        [idVendedor] VARCHAR(50) NOT NULL,
        [precio] MONEY NOT NULL,
        [idLibro] INT NOT NULL,
        [status] INT NOT NULL,
        [estadoLibro] VARCHAR(50) NOT NULL,
        [fecha] DATE NOT NULL,
        [descripcion] VARCHAR(500) NULL,
        [imagen] VARBINARY(MAX) NULL,
        CONSTRAINT [PK_Publicacion] PRIMARY KEY CLUSTERED ([id] ASC)
    );
END
GO

IF OBJECT_ID('dbo.Intercambios', 'U') IS NULL
BEGIN
    CREATE TABLE [dbo].[Intercambios] (
        [id] INT IDENTITY(1,1) NOT NULL,
        [idPublicacion] INT NOT NULL,
        [precioFinal] MONEY NOT NULL,
        [idComprador] VARCHAR(50) NOT NULL,
        [fechaRealizacion] DATE NOT NULL,
        CONSTRAINT [PK_Intercambios] PRIMARY KEY CLUSTERED ([id] ASC)
    );
END
GO

IF OBJECT_ID('dbo.Resenas', 'U') IS NULL
BEGIN
    CREATE TABLE [dbo].[Resenas] (
        [id] INT IDENTITY(1,1) NOT NULL,
        [idRedactor] VARCHAR(50) NOT NULL,
        [idReceptor] VARCHAR(50) NOT NULL,
        [fecha] DATE NOT NULL,
        [contenido] VARCHAR(500) NOT NULL,
        [valoracion] FLOAT NOT NULL,
        CONSTRAINT [PK_Resenas] PRIMARY KEY CLUSTERED ([id] ASC)
    );
END
GO

-- ⭐ Tabla Deseados
IF OBJECT_ID('dbo.Deseados', 'U') IS NULL
BEGIN
    CREATE TABLE [dbo].[Deseados] (
        [id] INT IDENTITY(1,1) NOT NULL,
        [dniUsuario] VARCHAR(50) NOT NULL,
        [idPublicacion] INT NOT NULL,
        CONSTRAINT [PK_Deseados] PRIMARY KEY CLUSTERED ([id] ASC),
        CONSTRAINT UQ_Deseados UNIQUE ([dniUsuario], [idPublicacion])
    );
END
GO

-- 🔗 Relaciones

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys WHERE name = 'FK_Intercambios_Publicacion'
)
BEGIN
    ALTER TABLE [dbo].[Intercambios] ADD CONSTRAINT [FK_Intercambios_Publicacion]
        FOREIGN KEY ([idPublicacion]) REFERENCES [dbo].[Publicacion] ([id]);
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys WHERE name = 'FK_Intercambios_Usuarios_Comprador'
)
BEGIN
    ALTER TABLE [dbo].[Intercambios] ADD CONSTRAINT [FK_Intercambios_Usuarios_Comprador]
        FOREIGN KEY ([idComprador]) REFERENCES [dbo].[Usuarios] ([DNI]);
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys WHERE name = 'FK_Publicacion_Libros1'
)
BEGIN
    ALTER TABLE [dbo].[Publicacion] ADD CONSTRAINT [FK_Publicacion_Libros1]
        FOREIGN KEY ([idLibro]) REFERENCES [dbo].[Libros] ([id]);
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys WHERE name = 'FK_Publicacion_Usuarios'
)
BEGIN
    ALTER TABLE [dbo].[Publicacion] ADD CONSTRAINT [FK_Publicacion_Usuarios]
        FOREIGN KEY ([idVendedor]) REFERENCES [dbo].[Usuarios] ([DNI]);
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys WHERE name = 'FK_Resenas_Usuarios_Receptor'
)
BEGIN
    ALTER TABLE [dbo].[Resenas] ADD CONSTRAINT [FK_Resenas_Usuarios_Receptor]
        FOREIGN KEY ([idReceptor]) REFERENCES [dbo].[Usuarios] ([DNI]);
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys WHERE name = 'FK_Resenas_Usuarios_Redactor'
)
BEGIN
    ALTER TABLE [dbo].[Resenas] ADD CONSTRAINT [FK_Resenas_Usuarios_Redactor]
        FOREIGN KEY ([idRedactor]) REFERENCES [dbo].[Usuarios] ([DNI]);
END
GO

-- ⭐ Relaciones de Deseados

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys WHERE name = 'FK_Deseados_Usuarios'
)
BEGIN
    ALTER TABLE [dbo].[Deseados] ADD CONSTRAINT [FK_Deseados_Usuarios]
        FOREIGN KEY ([dniUsuario]) REFERENCES [dbo].[Usuarios] ([DNI]);
END
GO

IF NOT EXISTS (
    SELECT * FROM sys.foreign_keys WHERE name = 'FK_Deseados_Publicacion'
)
BEGIN
    ALTER TABLE [dbo].[Deseados] ADD CONSTRAINT [FK_Deseados_Publicacion]
        FOREIGN KEY ([idPublicacion]) REFERENCES [dbo].[Publicacion] ([id]);
END
GO

-- 🟢 Confirmar base en modo escritura
USE [master];
GO